.create-channel-wrapper{
display: flex;
flex-direction: column; 
}
.create-channel-text {
    align-self: flex-start;
}
.create-channel-text .icon {
    margin-right: 5px;
}
.create-channel-input{
    min-width:200px;
    margin-top: 10px; 
    padding: 3px 5px;
}

.create-new-channel-confirm {
    align-self: center;
    margin-top: 10px;
    font-size:  16px;
    padding: 5px;
}