.channel-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 330px;
    margin: 10px auto;
    background-color: rgba(252,252,252, 1);
    color: #efefef;
    text-decoration: none;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.5);
    overflow: hidden;
}

.channel-item-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
}

.channel-item-link:hover .channel-name{
    text-decoration: underline;
}

.channel-item-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 30px;
    min-height: 40px;
}

.channel-item-link .channel-name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}

.channel-edit-btn {
    background-color: rgba(255,255,255,0);
    width: 30px;
    min-height: 40px;
}