.delete-channel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px; 
    font-size: 16px;
}

.delete-channel-btn .icon {
    margin-right: 7px;
}